@tailwind base;
@tailwind components;
@tailwind utilities;

.hr {
	--mask: radial-gradient(
				50.2px at 50% calc(100% + 39px),
				#0000 calc(99% - 2px),
				#000 calc(101% - 2px) 99%,
				#0000 101%
			)
			calc(50% - 60px) calc(50% - 16px + 0.5px) / 120px 32px repeat-x,
		radial-gradient(
				50.2px at 50% -39px,
				#0000 calc(99% - 2px),
				#000 calc(101% - 2px) 99%,
				#0000 101%
			)
			50% calc(50% + 16px) / 120px 32px repeat-x;
	-webkit-mask: var(--mask);
	mask: var(--mask);
}
